@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
/*폰트는 첫줄에 임포트 하세요 */
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/point.css";
@import "components/icon-row.css";
@import "components/best-size.css";
@import "components/alt-screen-header.css";
@import "components/chat.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/chats.css";
@import "screens/more.css";
@import "screens/settings.css";

body {
  color: white;
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

.body-video {
  position: fixed;
  object-fit: fill;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

/* .index-back-video {
  position: fixed;
  object-fit: fill;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
} */

.main-screen {
  padding: 0px var(--horizontal-space);
}
